<!-- Generated template for the WeightListComponent component -->
<div>
  {{text}}

  <ion-list>
    <ion-list-header>
      List Header
    </ion-list-header>
    
    <ion-item-sliding>
      <ion-item>
        <ion-label>Greg</ion-label>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Trash
        </button>
        <button ion-button>
            <ion-icon name="create"></ion-icon>
            Edit
          </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
        <ion-item>
          <ion-label>Not Greg</ion-label>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger">
            <ion-icon name="trash"></ion-icon>
            Trash
          </button>
          <button ion-button>
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
          <ion-item>
            <ion-label>Defs Not Greg</ion-label>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
              Trash
            </button>
            <button ion-button>
                <ion-icon name="create"></ion-icon>
                Edit
              </button>
          </ion-item-options>
        </ion-item-sliding>
  </ion-list>

</div>
